# Python virtual environment
env/
venv/
.venv/
__pycache__/
*.pyc

# Node.js dependencies & build output
node_modules/
dist/
dist-ssr/

# Environment variables / secrets
.env
.env.local
.env.*.local
*.pt

# Logs
*.log
npm-debug.log*
*.rdb

# OS files
.DS_Store
Thumbs.db
data
*.mov
*.png
*.pdf
*.jpeg
*.jpg

# Editor config
.vscode/
.idea/
*.sw?